# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
ignore/
build/
/work/final.cck/projects/agawrys/DesktopJavaFramework/dist/
/work/final.cck/projects/agawrys/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/agawrys/PropertiesManager/dist/
/work/final.cck/projects/agawrys/PropertiesManager/nbproject/private/
/work/final.cck/projects/agawrys/SlideshowCreator/dist/
/work/final.cck/projects/agawrys/SlideshowCreator/nbproject/private/
/work/final.cck/projects/alespinal/CSE219/DesktopJavaFramework/dist/
/work/final.cck/projects/alespinal/CSE219/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/alespinal/CSE219/PropertiesManager/dist/
/work/final.cck/projects/alespinal/CSE219/PropertiesManager/nbproject/private/
/work/final.cck/projects/ceugenio/CaioEugenioHW1Summer219/DesktopJavaFramework/dist/
/work/final.cck/projects/ceugenio/CaioEugenioHW1Summer219/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/ceugenio/CaioEugenioHW1Summer219/PropertiesManager/dist/
/work/final.cck/projects/ceugenio/CaioEugenioHW1Summer219/PropertiesManager/nbproject/private/
/work/final.cck/projects/eunhokim/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/eunhokim/PropertiesManager/dist/
/work/final.cck/projects/eunhokim/PropertiesManager/nbproject/private/
/work/final.cck/projects/eunhokim/SlideshowCreator/nbproject/private/
/work/final.cck/projects/jadong/DesktopJavaFramework/dist/
/work/final.cck/projects/jadong/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/jadong/PropertiesManager/dist/
/work/final.cck/projects/jadong/PropertiesManager/nbproject/private/
/work/final.cck/projects/jadong/SlideshowCreator/dist/
/work/final.cck/projects/jadong/SlideshowCreator/nbproject/private/
/work/final.cck/projects/jameli/DesktopJavaFramework/dist/
/work/final.cck/projects/jameli/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/jameli/PropertiesManager/dist/
/work/final.cck/projects/jameli/PropertiesManager/nbproject/private/
/work/final.cck/projects/jameli/SlideshowCreator/dist/
/work/final.cck/projects/jameli/SlideshowCreator/nbproject/private/
/work/final.cck/projects/jichu/HW1(1)/DesktopJavaFramework/dist/
/work/final.cck/projects/jichu/HW1(1)/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/jichu/HW1(1)/PropertiesManager/dist/
/work/final.cck/projects/jichu/HW1(1)/PropertiesManager/nbproject/private/
/work/final.cck/projects/jinkkang/DesktopJavaFramework/dist/
/work/final.cck/projects/jinkkang/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/jinkkang/PropertiesManager/dist/
/work/final.cck/projects/jinkkang/PropertiesManager/nbproject/private/
/work/final.cck/projects/joegeorge/219HWS/DesktopJavaFramework/dist/
/work/final.cck/projects/joegeorge/219HWS/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/joegeorge/219HWS/PropertiesManager/dist/
/work/final.cck/projects/joegeorge/219HWS/PropertiesManager/nbproject/private/
/work/final.cck/projects/joegeorge/219HWS/SlideshowCreator/nbproject/private/
/work/final.cck/projects/kyucho/DesktopJavaFramework/dist/
/work/final.cck/projects/kyucho/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/kyucho/PropertiesManager/dist/
/work/final.cck/projects/kyucho/PropertiesManager/nbproject/private/
/work/final.cck/projects/ngrant/ngrant_hw1/DesktopJavaFramework/dist/
/work/final.cck/projects/ngrant/ngrant_hw1/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/ngrant/ngrant_hw1/NathanGrantHW1/nbproject/private/
/work/final.cck/projects/ngrant/ngrant_hw1/PropertiesManager/dist/
/work/final.cck/projects/ngrant/ngrant_hw1/PropertiesManager/nbproject/private/
/work/final.cck/projects/ngrant/ngrant_hw1/jTPS/dist/
/work/final.cck/projects/ngrant/ngrant_hw1/jTPS/nbproject/private/
/work/final.cck/projects/nlcastello/HW1(1)/DesktopJavaFramework/dist/
/work/final.cck/projects/nlcastello/HW1(1)/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/nlcastello/HW1(1)/PropertiesManager/dist/
/work/final.cck/projects/nlcastello/HW1(1)/PropertiesManager/nbproject/private/
/work/final.cck/projects/nlcastello/HW1(1)/SlideshowCreator/dist/
/work/final.cck/projects/nlcastello/HW1(1)/SlideshowCreator/nbproject/private/
/work/final.cck/projects/sguiao/Homework/DesktopJavaFramework/dist/
/work/final.cck/projects/sguiao/Homework/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/sguiao/Homework/PropertiesManager/dist/
/work/final.cck/projects/sguiao/Homework/PropertiesManager/nbproject/private/
/work/final.cck/projects/uansari/DesktopJavaFramework/dist/
/work/final.cck/projects/uansari/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/uansari/PropertiesManager/dist/
/work/final.cck/projects/uansari/PropertiesManager/nbproject/private/
/work/final.cck/projects/xinchen2/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/xinchen2/PropertiesManager/nbproject/private/
/work/final.cck/projects/xinchen2/SlideshowCreator/nbproject/private/
/work/final.cck/projects/ybirbal/HW1(1)/DesktopJavaFramework/dist/
/work/final.cck/projects/ybirbal/HW1(1)/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/ybirbal/HW1(1)/PropertiesManager/dist/
/work/final.cck/projects/ybirbal/HW1(1)/PropertiesManager/nbproject/private/
/work/final.cck/projects/ychou/PropertiesManager/dist/
/work/final.cck/projects/ychou/PropertiesManager/nbproject/private/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/DesktopJavaFramework/dist/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/DesktopJavaFramework/nbproject/private/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/PropertiesManager/dist/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/PropertiesManager/nbproject/private/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/SlideshowCreator/dist/
/work/final.cck/projects/yiwjin/Homework1_Yiwen Jin/SlideshowCreator/nbproject/private/