
.root{

}
.bordered_pane {
    -fx-padding:5;
}
.shadow-pane {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}
.welcome_panel_mac {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 0 5 5 0;

}
.welcome_panel_win {
    /*-fx-background-color: #F3F3F3;*/
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 0 0 5 0;

}
.welcome_panel_round {
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;

}
.welcome_view_panel {
    -fx-background-color: #FAFAFA;
    -fx-padding: 10;

}
.welcome_recents_panel {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 1.1 0 0;
    -fx-border-color: #E0E0E0;
}
.welcome_recents_panel_mac {
    -fx-background-radius: 0 0 0 5;

}
.welcome_recents_panel_win {
    -fx-background-radius: 5 0 0 5;

}
.welcome_recents_header {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.welcome_title_bar_mac {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 1.1 0 0;
    -fx-border-color: #E0E0E0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}
.welcome_title_bar_win {
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: #FAFAFA;
    -fx-border-width: 0 0 0 1.1;
    -fx-border-color: #E0E0E0;
}
.welcome_close_button {
    -fx-background-color: transparent;
    -fx-text-fill: #9B9B9B;
    -fx-font-size: 20px;
    -fx-font-family: Helvetica, Arial, sans-serif;

}
.welcome_close_button :hover{
    -fx-opacity: 0.5;
}
.welcome_banner_text {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    
}
.welcome_banner_title {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 42px;

}
.welcome_banner_tm {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 9px;
    
}
.welcome_banner_version {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-weight: 100;
    -fx-font-size: 12px;
    
}
.welome_view_recents_cell {
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: #F3F3F3;

}
.welome_view_recents_cell_hover {
    -fx-background-color: #E3E3E3;
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: #C0C0C0;
    /*-fx-background-radius: 5 5 5 5;*/
    /*-fx-border-radius: 5 5 5 5;*/

}
.workspace_pane {
    -fx-background-color:#ECECEC;
    -fx-margin:5;
}
.toolbar {
    -fx-background-color:#E4E4E4;
}

.step_title {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.custom_source_textfield {
    -fx-min-width: 160;

}