
.root{

}
.bordered_pane {
    -fx-padding:5;
}
.welcome_panel {
    -fx-background-color: #FAFAFA;
    
}
.welcome_recents_panel {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 1.1 0 0;
    -fx-border-color: #E0E0E0;
}
.welcome_recents_header {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.workspace_pane {
    -fx-background-color:#ECECEC;
}
.toolbar {
    -fx-background-color:#E4E4E4;
}

.step_title {
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 14;
    -fx-font-weight: bold;

}